#beans{
    max-width: 1200px;
    margin: auto;
}

.beansPara{
    text-align: justify;
}

#testimonials{
    max-width: 1200px;
    margin: auto;
}

#carousel{
    max-width: 1200px;
    margin: auto;
}

#carousel img{
    max-height: 500px;
    margin: auto;
}

.heroText{
    font-weight: bolder;
    font-size: 5em;
    padding-bottom: 0.5em;
}

.heroPara{
    text-align: justify;
}